.quote {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        width: 789px;

        .quote-text {
            font-style: italic;
        }

        .author {
            color: #ee4367;
            margin-bottom: 0;
        }

        .title {
            font-size: 10px;
        }
    }
}