.quote {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.quote .content {
  width: 789px;
}
.quote .content .quote-text {
  font-style: italic;
}
.quote .content .author {
  color: #ee4367;
  margin-bottom: 0;
}
.quote .content .title {
  font-size: 10px;
}